$iconSize:30px;
$customGreenColor:#5e4dc2;
$customGrayColor:  rgb(215, 216, 226);
$customBlackColor: #22272d;


$colorShadow1:rgba(255, 255, 255, 0.301);
$colorShadow2:rgba(94, 77, 194, 0.486);

$iconsColor: white;